/* 

---------- TYPOGRAPHY ----------

FONT SIZES
12px / 16px / 20px / 24px / 32px / 40px / 48px / 62px

FONT WEIGHTS
400 / 700

LINE HEIGHTS
1.2 / 1.5

LETTER SPACING
0 / -2px

FONT FAMILY
Poppins

---------- COLORS ----------

PRIMARY
Base: #00b5d8 (Vibrant Cyan / Bright Blue)
Tint: #b2f5ea (Pale Teal / Mint Green)
Shade: #028090 (Dark Cyan / Teal)

SECONDARY
Base: #ff9f1c (Bright Orange)
Tint: #ffd6a5 (Pastel Orange / Peach)
Shade: #e76f00 (Burnt Orange / Dark Orange)

GREY
Base: #495057 (Slate)
Tint: #f1f3f5 (Pebble)
Shade: #212529 (Graphite)
White: #ffffff (White)
Black: #000000 (Black)

---------- BORDER RADIUS ----------

4px / 8px / 20px

---------- SPACING SYSTEM ----------

5px / 10px / 15px / 20px / 25px / 30px / 40px / 50px / 60px / 70px / 80px 
/ 90px / 100px / 125px / 150px / 200px / 250px / 300px / 400px / 500px

*/

/* ----------------------- COMPONENTS ----------------------- */

.checkbox-label, .product-name {
  font-size: var(--text-base);
}

.game-page-categories-title {
  font-weight: var(--font-weight-bold);
}

.category-checkbox {
  display: flex;
  align-items: center;
  gap: 1px;
}

input[type="checkbox"] {
  width: 2em;
  height: 2rem;
}

input[type="checkbox"]:checked {
  accent-color: var(--secondary-shade);
}


/* ----------------------- SECTIONS ----------------------- */

/* ------ GAMES PAGE------ */

.games-page-container {
  margin-top: calc(var(--nav-height) + 4rem);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-left: 2px solid var(--grey-tint);
}

.product-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-right: 2px solid var(--grey-tint);
  border-top: 2px solid var(--grey-tint);
  border-bottom: 2px solid var(--grey-tint);
  padding: 4rem 2rem 2rem 2rem;
  width: 100%;
}

.product-image {
  max-width: 230px;
  max-height: 230px;
  height: 100%;
  width: 100%;
}

.product-price {
  font-weight: var(--font-weight-bold);
  color: var(--secondary-base);
}

.game-page-categories-title, .category-checkbox-container, .product-cards-container, .no-products-message {
  margin-top: 2rem;
}

.no-products-message {
  font-size: var(--text-base);
  font-weight: var(--font-weight-bold);
  color: var(--secondary-base);
} 

/* ------ CATEGORIES CHECKBOX------ */

.category-checkbox-container {
  display: flex;
  justify-content: space-between;
  /* margin-top: 1rem; */
  width: 100%;
}

/* ------ FOOTER------ */

.js-footer-style {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}